= form_for(@post.comments.build, as: :comment, url: add_comment_post_path(@post), method: :post) do |f|
  = f.text_area :body
  = hidden_field_tag 'comment[author_id]', current_user.id
  = f.submit 'Add Comment'