// Main Colours

$dark-coral: #bd6982
$pastel-blue: #008CBA

// Shades of white
$white-alabaster: #f7f7f7
$white: #fff

// Shades of grey
$light-grey: #808080
$middle-light-grey: #bfbfbf
$silver: #cccccc
$nobel-grey: #b3b3b3
$dusty-grey: #999999
$dark-grey: #333

$warm-yellow: #FFD

// messages box header
$dark-grey-blue: #66757f
$grey-blue: #8899a6
$light-grey-blue: #e1e8ed

// Main Link Styles
a
  text-decoration: none
  color: $dark-grey

  &:focus, &:active, &:visited
    outline: none
  &:hover
    color: $silver
ul
  list-style: none

ul.as-table
  display: table
  table-layout: fixed
  box-sizing: border-box
  li
    display: table-cell
    width: 1%

.clearfix
  height: 15px