.collapse-body

  li
    &.expanded
      .message-entry-wrapper
        height: auto!important

      .message-content
        height: auto!important

    .message-entry-wrapper
      display: flex
      height: 70px

      .item
        .vertical-wrapper
          height: 100%
          width: 50px
          display: flex
          align-items: center
          justify-content: center

        h5
          width: 100%

      .item:nth-child(2)
        flex-grow: 3

      .message-content
        +default-text-small
        padding: 8px
        overflow: hidden
        height: 45px

      .message-footer
        display: flex
        text-align: center
        +default-text-tiny

        .column
          flex-grow: 1
