.new-message-container
  position: relative
  width: 100%
  height: 30px
  margin-top: -11px

  &.expanded
    height: 90px

    .new_message_form
      max-width: 260px
      opacity: 1

.new_message_form
  width: 260px
  max-width: 0px
  padding: 5px
  transition: all .5s ease
  position: absolute
  right: 20px
  box-sizing: border-box
  opacity: 0
  *
    width: 100%

.icon
  width: 20px
  height: 20px
  background: red
  position: absolute
  right: 0
  top: 0