.new-message-container
  display: flex
  flex-direction: column
  height: 40px

  &.expanded
    height: 117px

    .new_message_form
      max-width: 100%
      opacity: 1

.new_message_form
  width: 100%
  max-width: 0px
  transition: all .5s ease
  position: absolute
  left: 0
  top: 38px
  box-sizing: border-box
  opacity: 0

  button
    width: 100%
    margin-top: -10px

.expand-trigger
  margin: 0
  padding: 0
  input
    width: 90%
  img
    height: 20px
    width: 20px