.new-message-container
  display: flex
  flex-direction: column
  height: 55px

  &.expanded
    height: 135px

    .new_message_form
      max-width: 100%
      opacity: 1

.new_message_form
  width: 100%
  max-width: 0px
  transition: all .5s ease
  position: absolute
  left: 5px
  top: 20px
  box-sizing: border-box
  opacity: 0

  select
    margin-top: 20px
  textarea
    width: 99%
  select, button
    width: 98%

.expand-trigger
  margin-left: 5px
  input
    width: 90%
  img
    height: 20px
    width: 20px