.author-container
  margin: 10px 0px
  display: flex

  .avatar
    flex: 0 0 auto
    font-size: 15px
    img
      width: 50px
      height: 50px
      display: inline-block
      vertical-align: middle
      border-radius: 100%

  .details
    padding-left: 15px
    flex: 1 1 auto
    font-size: 14px

    button
      background: $white
      text-align: center
      border-radius: 999em
      border: 1px solid rgba(0,0,0,.15)
      white-space: nowrap
      text-decoration: none
      cursor: pointer
      color: $dark-coral
      display: inline-block
      border-color: $dark-coral
      line-height: 14px
      &.as-follow
        margin-left: 15px
        padding-left: 10px
        padding-right: 10px