.messages_box
  position: absolute
  top: -42px
  right: -30px
  background: $white
  width: 300px
  margin: 0 auto

.messages_box
  .body
    width: 100%
    position: relative

    .search
      width: 100%
      input
        width: 100%
        margin: 0
        padding: 10px 15px
        border: none
        -webkti-box-size: border-box
        -moz-box-size: border-box

    .search.opened
      display: block

    form
      font-size: 14px
      line-height: 1.5
      input[type="text"]
        width: 60%
        height: 20px
        margin-left: -5px

      input[type="submit"]
        margin-left: -50px
        height: 25px
        width: 50px
        -webkit-appearance: none
        color: $dark-grey
        border-color: $silver
        border: 1px solid transparent
        font-size: 14px
        border-radius: 4px

      select
        border: none
        height: 19px

    ul
      list-style: none
      padding: 0
      margin: 0
      border-top: 1px solid #f2f2f2
      overflow-y: scroll
      max-height: 360px

      li
        position: relative
        background: $white
        width: 100%
        box-sizing: border-box
        border-bottom: 1px solid $dark-coral

        &.unread
          background: #FFD
        &.as-highlighted
          background: $warm-yellow

      // first element is visible
      li:nth-child(1)
        display: block

      li:before, li:after
        display: block
        content: ''
        clear: both

      li:hover .thumbnail
        background: $dark-coral

      li:nth-child(2n)
        background: #f2f2f2

  footer a
    background: $dark-coral
    display: block
    width: 100%
    padding: 10px 15px
    color: $white
    font-size: 14px
    text-align: center
    text-decoration: none
    box-sizing: border-box
  footer a:hover
    background: #cd8ca0
    -webkit-transition: background 0.3s linear 0s
    -moz-transition: background 0.3s linear 0s
    -ms-transition: background 0.3s linear 0s
    -o-transition: background 0.3s linear 0s
    transition: background 0.3s linear 0s